.start {
  padding-top: 20%;
  text-align: center;
}

.header{
  margin-bottom: 50px;
}

.startbtn{
  margin-bottom: 10px;
}

#movieCard{
  margin-top: 10%;
  text-align: center;
}

#moviePoster{
  max-width: 400px;
  margin-bottom: 30px;
}

.cards{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.customcard{
  background-color: black;
}

#retry{
  margin-bottom: 40px;
}

.customnav{
  margin-bottom: 5%;
}

.searchPoster{
  margin-bottom: 15px;
}